<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacientai</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/lt.js"></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
<div th:insert="fragments/navigation.html :: nav"></div>
<div class="container">
    <div class="row md-5">
        <div class="card index">
            <div class="card-body">
                <div style="text-align: center">
                    <a href="addpatient" class="btn btn-dark">Prideti nauja pacienta</a>
                </div>
                <table class="main-table">
                    <tr style="text-align: center">
                        <th>Vardas</th>
                        <th>Pavarde</th>
                        <th>Telefonas</th>
                        <th>Adresas</th>
                        <th>Gimimo data</th>
                        <th>Daktaras</th>
                        <th>Lytis</th>
                        <th>Diagnozė</th>
                        <th>Sąlygos</th>
                    </tr>
                    <tr th:each="patient: ${patients}" style="border-bottom: 1px solid #D5D5D5; text-align: center">
                        <td th:text="${patient.name}"></td>
                        <td th:text="${patient.surname}"></td>
                        <td th:text="${patient.phone}"></td>
                        <td th:text="${patient.address}"></td>
                        <td th:text="${patient.birthDate}"></td>
                        <td th:text="${patient.doctor.name} + ' ' + ${patient.doctor.surname}"></td>
                        <td th:text="${patient.gender.name}"></td>
                        <td th:text="${patient.statement}"></td>
                        <td th:text="${patient.treatment}"></td>
                        <td>
                            <a th:href="'editpatient?id='+${patient.id}" class="btn">Redaguoti</a>
                            <a th:href="'deletepatient?id='+${patient.id}" href="#" class="btn">Pasalinti</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</body>
</html>